<h2>
  &nbsp;
  <%= link_to('htmltopdf', 'htmltopdf') %>
  &nbsp;
  <%= link_to('pdfinfo', 'pdfinfo') %>
  &nbsp;
  <%= link_to('pdftotext', 'pdftotext') %>
  &nbsp;
  <%= link_to('pdfextract', 'pdfextract') %>
  &nbsp;
  <%= link_to('pdfunite', 'pdfunite') %>
  &nbsp;
  viewDatabase
</h2>

<h1>Salesforce Accounts</h1>
<table>
    <tr>
        <th>Name</th><th>Date</th><th>Salesforce Id</th>
    </tr>
    <% @accounts.each do |account| %>
    <tr>
        <td><%= account.name %></td>
        <td><%= account.createddate.strftime("%d %b %y") %></td>
        <td><%= account.sfid %></td>
        <td><%= link_to "details", "/account/#{account.id}" %></td>
    </tr>
    <% end %>
</table>
