<h2>
  &nbsp;
  <%= link_to('htmltopdf', 'htmltopdf') %>
  &nbsp;
  <%= link_to('pdfinfo', 'pdfinfo') %>
  &nbsp;
  <%= link_to('pdftotext', 'pdftotext') %>
  &nbsp;
  <%= link_to('pdfextract', 'pdfextract') %>
  &nbsp;
  <%= link_to('pdfunite', 'pdfunite') %>
  &nbsp;
  viewDatabase
</h2>
<!--
<%= form_tag('/viewDatabase', multipart: true) do %>
<p>The accounts are: yield <% yield %>
</p>
-->

<!-- from Heroku connect demo -->
<h1>Account: <%= @account.name %></h1>

<h2>Contacts</h2>
<table border="1">
    <tr>
        <th>id</th><th>Name</th><th>Email</th><th>Phone</th>
    </tr>
    <% @contacts.each do |contact| %>
      <% next if contact.nil? %>
      <tr>
          <td><%= contact.id %></td>
          <td><%= contact.firstname %> <%= contact.lastname %></td>
          <td><%= contact.email %></td>
          <td><%= contact.phone %></td>
      </tr>
    <% end %>
</table>

<h1>Salesforce Accounts</h1>
<table>
    <tr>
        <th>Name</th><th>Date</th><th>Salesforce Id</th>
    </tr>
    <% @accounts.each do |account| %>
    <tr>
        <td><%= account.name %></td>
        <td><%= account.createddate.strftime("%d %b %y") %></td>
        <td><%= account.sfid %></td>
        <td><%= link_to "details", "/account/#{account.id}" %></td>
    </tr>
    <% end %>
</table>

<%= link_to 'prev', {:page => @page-1} %> |
<%= link_to 'next', {:page => @page+1} %>

<h1>Salesforce Contacts</h1>
<table>
    <tr>
        <th>Name</th><th>Date</th><th>Salesforce Id</th>
    </tr>
    <% @contacts.each do |contact| %>
    <tr>
        <td><%= contact.firstname %> <%= contact.lastname %></td>
        <td><%= contact.createddate.strftime("%d %b %y") %></td>
        <td><%= contact.sfid %></td>
    </tr>
    <% end %>
</table>

<%= link_to 'prev', {:page => @page-1} %> |
<%= link_to 'next', {:page => @page+1} %>
