<h2>
  &nbsp;
  <%= link_to('htmltopdf', 'htmltopdf') %>
  &nbsp;
  <%= link_to('pdfinfo', 'pdfinfo') %>
  &nbsp;
  <%= link_to('pdftotext', 'pdftotext') %>
  &nbsp;
  <%= link_to('pdfextract', 'pdfextract') %>
  &nbsp;
  <%= link_to('pdfunite', 'pdfunite') %>
  &nbsp;
  viewDatabase
</h2>

<p>The accounts are: 
</p>
